*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #181717;
    width: 100%;
}

.wrapper{
    max-width: 480px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 1rem;
    margin: 0 auto;
}
.message-wrapper{
    width: 100%;
    padding: 0 1rem;
    display: none;
}
.message{
    margin: 0.5rem 0rem;
    background: #212121;
    color: #eaeaea;
    padding: 1rem 1rem;
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 13px;
    width: 100%;
    border-radius: 13px;
}

.screen {		
	background-color: rgba(0, 0, 0, .4);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #dbdbdb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.screen-reset{
    background-color: rgba(0, 0, 0, .4);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #7ea365;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.screen-signup{
    background-color: rgba(0, 0, 0, .4);		
	position: relative;	
	height: 600px;
	width: 360px;	
	box-shadow: 0px 0px 24px #a07942;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.background{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.73)),url(pexels-pixabay-531880\ \(1\).jpg) ;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-position: center;
}


.title-heading{
    color: rgb(180, 175, 175);
    font-weight: 700;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    letter-spacing: 4px;
    text-align: center;
}


.main-heading{
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 26px;
}
.sub-text{
    color: #ccc;
    font-size: 15px;
    text-align: center;
}

.form-wrapper{
    width: 100%;
    text-align: center;
    padding: 1rem;
}


.logo{
    margin-right:80px ;
}


nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, .4);
    height: 4rem;
    position: sticky;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-field{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 100%;
    padding: 0.5rem 0rem;
}
.input-field label{
    color: #ccc;
    font-size: 14px;
}
.input-field input{
    width: 100%;
    padding: 0.75rem;
    border-radius: 13px;
    outline: none;
    background: #212121;
    border: 2px solid #424242;
    margin-top: 0.5rem;
    color: #fff;
    font-family: inherit;
}
input:focus{
    border: 2px solid #66f053;
}

.form-wrapper button, .main-button{
    background: linear-gradient(to right, #406e43, #63b44a);
    color: #fff;
    width: 100%;
    padding: 0.75rem;
    font-weight: 600;
    font-family: inherit;
    margin-top: 0.75rem;
    outline:none;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    transition: all .3s ease;
}
.form-wrapper button:hover{
    opacity: 0.9;
}

.signout{
    margin-top: 0;
}

.bottom-message{
    width: 100%;
    text-align: center;
    color: #ccc;
    margin-top: 2rem;
}
.bottom-message h5{
    font-weight: 400;
}
.bottom-message h5 a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

@media (max-width:600px) {
    .list-items{
        display: none
        ;
    }


}

.list-items {
    font-size: 20px;
    color: #dbdbdb;
}

.list-items:hover{
    border-bottom: 1px #63b44a solid ;
}

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


.courses{
    width: 390px;
    height: 490px;
    margin: 15px 20px;
    padding: 20px 10px ;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:luminosity;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px rgba(54, 53, 53, 0.73) ;
}

.courses:hover{
    box-shadow: inset 2px 2px rgba(54, 53, 53, 0.73) ;
}


.sem1-2_heading{
    letter-spacing: 1px;
    padding: 10px 0px;
    text-align: center;
    color: rgb(211, 211, 211);
}

.course-Name{
    font-size: 25px;
    text-align: center;
    color: rgb(233, 232, 248);
}


